/*
Author: Kayla Mayberry
Date Created: Sep 25 2016
Date Last Modified: Sep 25 2016
*/

body{
  background-color: #f2f2f2;
}

#container {
  width: 90%;
  margin: auto;
  color: #333333;
  border: 1px solid grey;
  background-color: white;
  line-height: 130%;
  max-width: 1000px;
  min-width: 965px;
}

#header {
  padding: .5em;
  background-color: #dddddd;
  border-bottom: 1px solid grey;
  text-align: center;
}

#header h1, h5{
  padding: .2em;
  margin: 0;
}

#leftnav{
  float: left;
  width: 150px;
  margin: 0;
  padding: .7em 0em .7em .7em;
}

#leftnav a{
  float: left;
  width: 150px;
  margin: auto;
  padding: .4em;
  font-size: 1em;
}

#rightnav{
  float: right;
  width: 150px;
  margin: 0;
  padding: .5em 2.1em 0 0;
  text-align: center;
}

#rightnav img{
  width: 170px;
}

#rightnav p{
  width: 170px;
  font-size: .9em;
  padding: 0;
}

#content{
  margin-left: 150px;
  border-left: 1px solid grey;
  margin-right: 198px;
  border-right: 1px solid grey;
  padding: 1em;
}

#content p.dailyimg{
  float:right;
  text-align: center;
  padding: .3em;
  border-left: 1px solid grey;
  font-size: .9em;
  margin: 0 0 0 .4em;
}

#content img{
  width: 270px;
  padding: .5em;
}

#content p{
  margin: .1em .1em .5em .1em;
}

p.headline, p.headline3{
  font-size: .7em;
  margin: .1em;
  padding: 0 .3em .5em 0;
}

p.headline3{
  padding-bottom: .5em;
  border-bottom: 1px solid grey;
}

#footer{
  clear: both;
  margin: 0;
  padding: .5em;
  color: #333333;
  background-color: #dddddd;
  border-top: 1px solid gray;
}
